#error {
    main {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        z-index: -1;
        
        h1 {
            font-size: 50px;
            font-weight: 300;

            @media (min-width: 576px) {
                font-size: 68px;
            }
            
            @media (min-width: 768px) {
                font-size: 90px;
            }
        }

        p {
            font-size: 22px;

            @media (min-width: 576px) {
                font-size: 36px;
            }

            @media (min-width: 768px) {
                font-size: 40px;
            }
        }
    }
}