#news {
    #news-create, #news-edit, #news-show {
        .news-card {
            width: 100%;

            @media (min-width: 992px) {
                width: 60%;
            }

            p {
                overflow-wrap: break-word;
            }

            form {
                label {
                    span {
                        color: #222;
                    }

                    input, textarea {
                        padding: 12px;
                        outline: none;
                        border: 1px solid #333;
                        border-radius: 4px;
                    }

                    input {
                        height: 40px;
                    }

                    textarea {
                        &.description {
                            height: 60px;
                        }

                        &.content {
                            height: 120px;
                        }
                    }
                }
            }

            button {
                width: 100%;

                @media (min-width: 768px) {
                    width: auto;
                }
            }
        }
    }

    #news-show {
        .custom-container {
            width: 100%; 
            max-width: 670px; 
            margin: 0 auto;

            // .news-card {}

            .comments {
                .comments-title {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 52%;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: #333;
                    }

                    h2 {
                        background: #fff;
                        display: inline;
                        position: relative;
                        padding-right: 12px;
                        font-size: 32px;
                    }
                }

                .publish-comment {
                    strong {
                        font-size: 24px;
                    }

                    form {
                        textarea {
                            width: 100%;
                            height: 74px;
                            padding: 12px;
                            resize: none;

                            border: 1px solid #d3d3d3;
                            outline: none;
                        }
                        
                        button {
                            width: 180px;
                        }

                        b {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}