#user {
    padding-bottom: 50px;
    
    .user-card {
        width: 100%;
        max-width: 516px;

        @media (min-width: 992px) {
            width: 50%;
            max-width: 556px;
        }
    }

    #user-show {
        p {
            overflow-wrap: break-word;
        }

        .user-name {
            font-size: 18px;

            @media (min-width: 992px) {
                font-size: 22px;
            }
        }

        .user-biography {
            font-size: 14px;
        }
    }

    #user-edit {
        textarea {
            height: 200px;
        }
    }
}